<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعرفوا علينا</title>
    <style>

    </style>
</head>
<body>

<h1 align="right">انضموا إلى مجتمع اینار</h1>

<p align="right">

انضموا إلى مجتمع اینار

هل أنت شاب أو شابة تبحث عن فرصة لمشاركة معرفتك وتجربتك ؟ هل ترغب في تطوير مهاراتك في التوجيه والتجربة العملية ؟ مجتمع اينار هو المكان المثالي لك!<br>

في مجتمع اينار، نهدف إلى نشر المعرفة وتمكين الشباب من خلال ورش عمل مبتكرة وتجارب تعليمية مميزة .<br>

انضمامك لنا لن يتيح لك فقط الفرصة لنقل خبراتك ومعرفتك للآخرين، بل سيساهم أيضا في تطوير مهاراتك الشخصية والمهنية.<br>

مركز اينار للشباب هو أول وأكبر مركز عربي للشباب في القدس. يخدم المركز الفلسطينيين العرب في القدس الذين تتراوح أعمارهم بين 18 و 35 عامًا، ويركز على دعم احتياجاتهم في عديد من المجالات.<br>    

</p>
<p></p>
<p align="right">
يقدم المركز خدمات متنوعة في مجالين رئيسيين:<br>

المجال الأكاديمي: يقدم مركز اينار للشباب الدعم للشباب قبل وأثناء وبعد دراستهم الأكاديمية. يشمل ذلك ورشات العمل والندوات والمحاضرات ودورات بناء القدرات المصممة لتلبية احتياجات الطلاب في القدس.<br>

التنمية المهنية: يساعد اينار الشباب المهنيين على تحسين فرصهم في العمل من خلال تقديم التدريب وورشات العمل. يساعدون أولئك الذين يدخلون سوق العمل أو يبحثون عن مسارات مهنية أو يرغبون في تغيير مسارهم المهني.<br>
</p>
<p></p>
<p align="right">
ليش تنضم لمجتمع اينار !!<br>

<ol align="right">
<li>تطوير المهارات الشخصية والمهنية</li>

<li>نشر المعرفة المساهمة في بناء مجتمع متعلم ومثقف</li>

<li>بناء شبكة علاقات التعرف على أصدقاء وزملاء جدد يشاركونك نفس الاهتمامات والطموحات</li>

<li>تجربة ممتعة الاستمتاع ببيئة داعمة ومشجعة تتيح لك النمو والتطور</li>
</ol>
<p align="right">لا تفوت هذه الفرصة الفريدة لتكون جزءًا من مجتمع ينمو ويتطور باستمرار, انضم إلينا الآن وكن جزءًا من التغيير<p>

</p>

<a href="/signup">
    <button>sign up</button>
</a>

</body>
</html>