<html>
<head>
	<title>feedback</title>
</head>
<body>
<form action="/feedback" method="POST">
	<input type="radio" name="work" value="workshop1">workshop1<br>
	<input type="radio" name="work" value="workshop2">workshop2<br>
	<input type="radio" name="work" value="workshop3">workshop3<br>
	<input type="radio" name="work" value="workshop4">workshop4<br>
	<input type="radio" name="work" value="workshop5">workshop5<br>
	<input type="radio" name="work" value="other">other<br>
	<input type="text" name="workfeed" placeholder="Feedback">
	<input type="submit" value="submit">Submit